@{
    ViewBag.Title = "Single Line Review";
}
@model Review_Analyzer.Models.ReviewModel



<br />
<style>
     table { 
                border-collapse: collapse; 
            } 
            th { 
                background-color:green; 
                Color:white; 
            } 
            th, td { 
                width:150px; 
                text-align:center; 
                padding:5px 
              
            } 
            .geeks { 
                border-right:hidden; 
            } 
            .gfg { 
                border-collapse:separate; 
                border-spacing:0 15px; 
            } 
            h1 { 
                color:green; 
            } 

</style>

@using (Html.BeginForm("GetSentiment", "Home", FormMethod.Post))
{
<div class="jumbotron" style="text-align:left;margin-left:5px; margin-top:-30px">
    
    <table width="500px" style="padding:50px; border:0.5px solid lightgray;">
        <tr style="text-align:center; padding:5px ">
            <td colspan="2">
                <h3>@ViewBag.Title</h3>
            </td>
        </tr>
        <tr>
            <td>Review Comments: </td>
            <td> @Html.TextArea("txtReviewCommnent", null, new { @class = "form-control", style = "width : 600px" })</td>
        </tr>
        <tr>
        <td colspan="2">
            <input id="Submit1" type="submit" value="Submit" class="btn btn-primary" />
        </td>
        </tr>
        <tr>
            <td align="right" valign="top" colspan="2">
                @*<img src="@Model.ImageURL" alt="@Model.ImageURL" />*@
                <img style="width:60px;height:60px;" src="@Model.ImageURL" alt="@Model.ImageURL" />
                @if (Model.ShowSentiments)
                {
                    <label id="probability">Probability : @Model.Probability</label>
                }
            </td>
            @*<td align="left">

                @if (Model.ShowSentiments)
                {
                    <label id="probability">Probability : @Model.Probability</label>
                }
            </td>*@
        </tr>

    </table>

   

</div>
}
<br />
<br />



