@{
    ViewBag.Title = "Comment Review";
}
@model Review_Analyzer.Models.ReviewModel



<br />

@using (Html.BeginForm("GetSentiment", "Home", FormMethod.Post))
{
<div class="jumbotron"  style="text-align:left;margin-left:5px; margin-top:-30px;" >
    <h2>@ViewBag.Title</h2>
    <label> Review Comments: </label>
    @Html.TextArea("txtReviewCommnent", null, new { @class = "form-control", style = "width : 600px" })
    <br />
    <input id="Submit1" type="submit" value="Submit" class="btn btn-primary" />
    <br />
    <br />
    if (Model.ShowSentiments)
    {
    <label id="probability">Probability : @Model.Probability</label>
    }
</div>
}
<br />
<br />
<img src="@Model.ImageURL" alt="@Model.ImageURL" />


