<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Review Analyzer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    } 
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>Sentiments Review</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Location", "Location", "Home")</li>
                    <li>@Html.ActionLink("Comment Review", "Review", "Home")</li>
                    <li>@Html.ActionLink("File Review", "File", "Home")</li>
                    <li>@Html.ActionLink("Location", "Location", "Home")</li>
                    <li>@Html.ActionLink("Google Review", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Twitter Review", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Other", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="col-sm-9">
                @RenderBody()                          
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer class="container-fluid">
        <p></p>
    </footer>
</body>
</html>
