<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Review Analyzer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    </head>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {
            height: 100%;
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 80%;
        }

        .bodydiv {
            position: absolute;
            height: 80%;
            width: 80%;
            top: 10%;
            left: 10%;
            border: solid blue;
            border-width: thin;
        }

        .headerfont {
            text-align: center;
            margin-left: 80%;
        }

        /* Set black background color, white text and some padding */
        /*footer {
            background-color: #555;
            color: white;
            padding: 15px:;
        }*/
    </style>
    </head>
    <body>
        <div class="bodydiv">
            <header class="container-fluid">
                <table>
                    <tr>
                        <td width="20%"><img src="~/Images/MB_enso.png" height="150px" width="150px" /></td>
                        <td width="80%" align="right"><img src="~/Images/Sentiment-Analysis-Header1.jpg" /></td>
                        @*<td width="80%" align="right"><h1>Sentiment Analysis</h1></td>*@
                    </tr>
                </table>


            </header>
            <div class="container-fluid">
                <div class="row content">
                    <div class="col-sm-2 sidenav">
                        <ul class="nav nav-pills nav-stacked">
                            <li>@Html.ActionLink("Comment Review", "Review", "Home")</li>
                            <li>@Html.ActionLink("File Review", "File", "Home")</li>
                            <li>@Html.ActionLink("Database Review", "ComingSoon", "Home")</li>
                            <li>@Html.ActionLink("Google Review", "ComingSoon", "Home")</li>
                            <li>@Html.ActionLink("Twitter Review", "ComingSoon", "Home")</li>
                            <li>@Html.ActionLink("Yelp", "ComingSoon", "Home")</li>
                            <li>@Html.ActionLink("Other", "ComingSoon", "Home")</li>
                        </ul>
                    </div>
                    <div class="col-sm-10">
                        @RenderBody()
                    </div>
                    <footer class="container-fluid">
                        <p></p>
                    </footer>
                </div>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

        </div>
        
    </body>
</html>
